[Unit]
Description=Raspberry Dashboard
After=network-online.target
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=alarm
Group=alarm
SupplementaryGroups=input video
Environment=DASHBOARD_CONFIG=/home/alarm/config.toml
ExecStart=/home/alarm/raspberry-dashboard
Restart=on-failure
RestartSec=5

[Install]
Alias=display-manager.service
